In [213]:
from fastai.tabular.all import *
from src.data_structures import Instance

In [214]:
instance = Instance.generate(1000,5)

In [215]:

powers_of_two = np.array([2**i for i in range(0,32)])
len(powers_of_two)

def tuple_to_vec(tupla):
    output = np.zeros(instance.n_items)
    for element in tupla:
        output[element-1] = 1
    return output

a = []
evals = []
for key,value in instance.polynomial_gains.items():
    b = tuple_to_vec(Instance.key_to_tuple(key))
    a.append(b)
    evals.append(value)

from pandas import DataFrame
evals = np.array(evals).reshape(-1,1)
a = np.vstack(a)
concatenated = np.concatenate((a,evals), axis=1)
data_features = [str(i) for i in range(instance.n_items)]
data_features.append("value")
pd = DataFrame(concatenated,columns=data_features)
training_data = pd.append(pd)
training_data = training_data.reset_index()

training_data.describe()

/tmp/ipykernel_64267/3924710133.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  training_data = pd.append(pd)

,index,0,1,2,3,4,5,6,7,8,...,55,56,57,58,59,60,61,62,63,value
count,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.00000,552.000000,552.000000,552.000000,...,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000
mean,137.500000,0.184783,0.173913,0.170290,0.228261,0.210145,0.15942,0.184783,0.195652,0.199275,...,0.195652,0.224638,0.206522,0.246377,0.246377,0.228261,0.181159,0.188406,0.217391,11.279205
std,79.746081,0.388473,0.379378,0.376228,0.420092,0.407781,0.36640,0.388473,0.397062,0.399818,...,0.397062,0.417722,0.405176,0.431291,0.431291,0.420092,0.385500,0.391391,0.412845,11.941258
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.001745
25%,68.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.447053
50%,137.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.860607
75%,206.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,15.537663
max,275.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,49.923802

In [216]:

rows = len(instance.polynomial_gains.keys())*2
mask = [False for i in range(rows)]
for i in range(rows//2,rows):
    mask[i] = True
splitter = MaskSplitter(mask)(training_data)

In [223]:
print(len(instance.polynomial_gains.keys()))
print(len(mask))
print(training_data)

276
552
     index    0    1    2    3    4    5    6    7    8  ...   55   56   57  \
0        0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
1        1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
2        2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  ...  0.0  0.0  0.0
3        3  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
4        4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
..     ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
547    271  1.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0
548    272  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0
549    273  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0
550    274  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0
551    275  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0

      58   59   60   61   62   63      value
0    0.0  0.0  0.0  0.0  0.0  1.0  48.130525
1    0.0  0.0  0.0  0.0  0.0  0.0  19.267975
2    0.0  0.0  0.0  0.0  0.0  0.0  19.090848
3    0.0  0.0  0.0  0.0  0.0  0.0  10.127279
4    0.0  0.0  0.0  0.0  0.0  0.0   3.860267
..   ...  ...  ...  ...  ...  ...        ...
547  0.0  1.0  1.0  1.0  1.0  1.0   1.490520
548  1.0  1.0  1.0  1.0  1.0  0.0   1.351263
549  1.0  1.0  1.0  1.0  1.0  1.0   1.137542
550  1.0  1.0  1.0  1.0  1.0  1.0   1.197316
551  1.0  1.0  1.0  1.0  1.0  1.0   1.214151

[552 rows x 66 columns]

In [224]:
dls = TabularPandas(
                training_data,
                splits = splitter,
                procs = [],
                cat_names = 
                        [],
                cont_names = 
                                [str(i) for i in range(instance.n_items)],
                y_names = ["value"] ,
                y_block = RegressionBlock()).dataloaders(path=".",bs=10)

In [225]:
learner = tabular_learner(dls,metrics=accuracy,layers = [10]*20)

learner.fit(22,0.001)

In [226]:
a = []
for i in range(instance.n_items):
    row = np.zeros(instance.n_items)
    row[i] = 1
    a.append(row)
a = np.vstack(a)
data_features = [str(i) for i in range(instance.n_items)]
pd = DataFrame(a,columns=data_features)
pd.describe()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
count,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,...,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000
mean,0.015625,0.015625,0.015625,0.015625,0.015625,0.015625,0.015625,0.015625,0.015625,0.015625,...,0.015625,0.015625,0.015625,0.015625,0.015625,0.015625,0.015625,0.015625,0.015625,0.015625
std,0.125000,0.125000,0.125000,0.125000,0.125000,0.125000,0.125000,0.125000,0.125000,0.125000,...,0.125000,0.125000,0.125000,0.125000,0.125000,0.125000,0.125000,0.125000,0.125000,0.125000
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [227]:
test_dl = learner.dls.test_dl(pd)
preds, _ = learner.get_preds(dl=test_dl,reorder=True)

In [228]:
preds.T

tensor([[3.9012, 4.7980, 2.2477, 5.0808, 5.3449, 4.1348, 5.2229, 4.5798, 4.1193,
         4.7107, 4.6104, 4.3813, 3.9012, 4.6628, 5.4274, 3.5475, 5.3320, 5.1354,
         4.6695, 4.9268, 3.6710, 4.3968, 3.8985, 3.7116, 4.2272, 4.0545, 4.7957,
         3.7239, 3.9012, 4.0791, 3.9012, 4.2397, 2.9522, 3.9012, 5.3675, 4.0040,
         2.2128, 5.3961, 4.4119, 4.2049, 2.3542, 5.0762, 6.6706, 3.9205, 5.0388,
         4.6579, 3.0057, 2.5387, 2.7082, 4.1112, 4.8969, 2.6531, 4.7507, 3.9027,
         3.9012, 4.1379, 5.3318, 1.9170, 3.9012, 4.8625, 3.9012, 5.3006, 3.7047,
         5.1336]])